<form>
    <img src="assets/client.png" alt="client">
    <input type="text" placeholder="digite o nome..." class="form-control" name="nome" [(ngModel)]="client.nome">
    <input type="number" placeholder="digite a idade..." class="form-control" name="idade" [(ngModel)]="client.idade">
    <input type="text" placeholder="digite a cidade..." class="form-control" name="cidade" [(ngModel)]="client.cidade">

    <input type="button" value="Cadastrar" *ngIf="btnCadestro" class="btn btn-primary" (click)="cadastrar()">
    <input type="button" value="Alterar" *ngIf="!btnCadestro" class="btn btn-warning">
    <input type="button" value="Remover" *ngIf="!btnCadestro" class="btn btn-danger">
    <input type="button" value="Cancelar" *ngIf="!btnCadestro" class="btn btn-secondary">

</form>

<h1>

    {{client | json}}
</h1>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Cidade</th>
            <th>Selecionar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of clientes; index as i">
            <td>{{i+1}}</td>
            <td>{{c.nome}}</td>
            <td>{{c.idade}}</td>
            <td>{{c.cidade}}</td>
            <td><button class="btn btn-success">Selecionar</button></td>
        </tr>
    </tbody>
</table>